# vim:ft=python
# For more documentation, see https://taskwarrior.org or try 'man task', 'man task-color', 'man task-sync' or 'man taskrc'
#   variable=      -- By specifying no value, this means no default
#   variable=$HOME/task You can also refence environment variables:
# Use the command 'task show' to see all defaults and overrides

# Files
editor=nvim

weekstart=monday
calendar.holidays=full
search.case.sensitive=0
purge.on-sync=0
# If set, old tasks will be purged automatically after each synchronization. Tasks are identified as “old” when they have status “Deleted” and have not been modified for 180 days.

# -------------------------------------------------------------------------
#                       context
# -------------------------------------------------------------------------
alias.rm=delete
alias.rep=+rou
alias.in=+inbox
context.routine.read=+rou
context.routine.write=+rou
context.inbox.read=+in
context.inbox.write=+in
context.finance.read=+fin
context.finance.write=+fin
context.code.read=+cod
context.code.write=+cod
context.career.read=+car
context.career.write=+car
context.personal.read=+per
context.personal.write=+per
context.laptop.read=+lap
context.laptop.write=+lap
context.kindle.read=+kin
context.kindle.write=+kin
context.listen.read=+lis
context.listen.write=+lis
context.easy.read=+eas
context.easy.write=+eas

# -------------------------------------------------------------------------
#                       reports
# -------------------------------------------------------------------------
# projects; niby wyświela listę po t project??
report.pro.description= Project sorting
report.pro.columns  =   id,start.age,entry.age,depends,priority,project,tags,recur,scheduled.countdown,due.relative,until.remaining,description,urgency
report.pro.filter   =   stat:pending project
report.pro.labels   =   ID,Active,Age,Deps,P,Project,Tag,Recur,S,Due,Until,Description,Urg
report.pro.sort=project+/,urgency-

alias.in=inbox
report.inbox.description= Inbox
report.inbox.columns  =   id,start.age,entry.age,depends,priority,project,tags,recur,scheduled.countdown,due.relative,until.remaining,description,urgency
report.inbox.filter   =   status:pending -WAITING +in
report.inbox.labels   =   ID,Active,Age,Deps,P,Project,Tag,Recur,S,Due,Until,Description,Urg
report.inbox.sort=project+/,urgency-/,start.age+

# OVERRIDED
report.minimal.columns=id,project,tags.list,description.count
report.minimal.sort=urgency-/,project+

# I don't use it
report.pomodoro.description = Active tasks for pomodoro
report.pomodoro.columns = id,start.age,start,tags,project,description
report.pomodoro.labels = ID,Active,Started,Tags,Project,Description
report.pomodoro.filter = status:pending and +ACTIVE
# report.pomodoro.columns = uuid.short,start.age,start,tags,project,description
# report.pomodoro.labels = UUID,Active,Started,Tags,Project,Description

# -------------------------------------------------------------------------
#                       urgency
# -------------------------------------------------------------------------
urgency.user.tag.car.coefficient=6
urgency.user.tag.cod.coefficient=4
urgency.user.tag.fin.coefficient=2
urgency.user.tag.in.coefficient=-5
urgency.user.tag.next.coefficient=15
urgency.uda.priority.H.coefficient=10
urgency.uda.priority.M.coefficient=6
urgency.uda.priority.L.coefficient=-3
urgency.due.coefficient=20
urgency.blocking.coefficient =2.0
urgency.blocked.coefficient = -8.0
urgency.tags.coefficient=0 # Just because its tagged/annotated doesn't mean its important
# urgency.annotations.coefficient=0

# -------------------------------------------------------------------------
#                       TUI
# -------------------------------------------------------------------------
uda.taskwarrior-tui.task-report.next.filter=stat:pending

# If ther are custom shortcut keys, 1-9 won't be available 
# uda.taskwarrior-tui.keyconfig.shortcut3=P
# Add tag
uda.taskwarrior-tui.keyconfig.shortcut2=T
# Remove tag
uda.taskwarrior-tui.keyconfig.shortcut7=r
# Remove inbox
uda.taskwarrior-tui.keyconfig.shortcut5=i
# Context switcher but it has more views like `completed`
# to reset select `none`, idk why some like `pro` opens a new instance of taskwarrior-tui
uda.taskwarrior-tui.keyconfig.shortcut3=C
# Add project
uda.taskwarrior-tui.keyconfig.shortcut4=p
# Open url from annotation
uda.taskwarrior-tui.keyconfig.shortcut6=l
# Duplicate task
uda.taskwarrior-tui.keyconfig.shortcut8=Y
# Sync TW
uda.taskwarrior-tui.keyconfig.shortcut9=n
uda.taskwarrior-tui.shortcuts.2=~/.config/task/scripts/tui.lua add-tag
uda.taskwarrior-tui.shortcuts.3=~/.config/task/scripts/tui.lua view
# tags can be added by H M L keyshorts
# uda.taskwarrior-tui.shortcuts.3=~/.config/task/scripts/tui.lua priority
uda.taskwarrior-tui.shortcuts.4=~/.config/task/scripts/tui.lua add-project
uda.taskwarrior-tui.shortcuts.5=~/.config/task/scripts/tui.lua rm-inbox
# open urls
uda.taskwarrior-tui.shortcuts.6=~/.config/task/scripts/tui.lua url
uda.taskwarrior-tui.shortcuts.7=~/.config/task/scripts/tui.lua rm-tag
# there is native duplicate task y
uda.taskwarrior-tui.shortcuts.8=~/.config/task/scripts/tui.lua duplicate
uda.taskwarrior-tui.shortcuts.9=task sync

uda.taskwarrior-tui.shortcuts.1=notify-send "Taskwarrior-TUI" "H/M/L-priority: set priority\\nY-duplicate task\\nT-add tag: add tag\\nC-view: view context\\np-add project: add project\\ni-rm inbox: remove inbox tag\\nl-open URL\\nr-rm tag: remove tag\\nn-sync: sync tasks" -i
# add a done task
uda.taskwarrior-tui.keyconfig.log=D
# 0 can't be bind

# Color theme (uncomment one to use)
# include ./themes/dark-blue-256.theme
# include ./themes/dark-violets-256.theme
# include ./themes/dark-yellow-green.theme
# include ./themes/dark-green-256.theme
include ./themes/solarized-dark-256.theme
# include ./themes/solarized-light-256.theme
# include ./themes/bubblegum-256.theme
#include ./themes/light-256.theme
#include ./themes/dark-256.theme
#include ./themes/no-color.theme

hooks.location=~/.config/task/hooks

#sync
# problem with modifing files in mega 
data.location=~/.local/share/task
include {{- env "PRIVATE" -}}/task/wingtask-config
# sync.local.server_dir={{- env "PRIVATE" -}}/task/
{{ if eq .chezmoi.hostname "pc" }}
recurrence=1
# data.location={{- env "PRIVATE" -}}/task/pc
{{ else }}
recurrence=0
# data.location={{- env "PRIVATE" -}}/task/lap
{{ end }}

# it needs to be update
# include holidays.pl-PL.rc
# include ~/Documents/Ustawienia/private/task/wingtask/wingtask-config
# include ~/Documents/Ustawienia/private/task/test/wingtask-config
news.version=3.4.2

