[Unit]
Description=Run backup weekly script

[Timer]
OnCalendar=weekly
; OnUnitActiveSec=7d
OnBootSec=2h
Persistent=true

[Install]
WantedBy=timers.target
