[Unit]
Description=Run backup daily script

[Timer]
OnCalendar=daily
; OnUnitActiveSec=1d
OnBootSec=1h
Persistent=true


[Install]
WantedBy=timers.target
