#!/bin/bash
set -e
export CARGO_HOME="$HOME/.local/share/cargo"

cargo install --locked pueue
cargo install --locked --features cmd kanata
# for nvim
cargo install --locked tree-sitter-cli
# it has rpm version
cargo install --locked navi
# cargo install --locked taskwarrior-tui opi
# with --git it will install beta versions and always compile that?
# cargo install --locked --features cmd kanata --git  https://github.com/jtroo/kanata
# cargo install --locked tree-sitter-cli --git https://github.com/tree-sitter/tree-sitter
# cargo install --locked pueue --git https://github.com/Nukesor/pueue
# cargo install --locked taskwarrior-tui --git https://github.com/kdheepak/taskwarrior-tui
# cargo install --locked navi --git https://github.com/denisidoro/navi
# no nchat
# cargo install --locked tgt --git https://github.com/FedericoBruzzone/tgt

# vi: ft=bash

