#!/bin/bash
set -e

BIN_DIR="{{ .chezmoi.sourceDir }}/bin/"
TMP="$HOME/tmp-chezmoi"
mkdir -p "$BIN_DIR"

# fasder
FASDER_DIR="$TMP/fasder"
FASDER_FILE="fasder"

echo "🔨 Building Go project in $FASDER_DIR..."
cd "$FASDER_DIR"
go build
cp "$FASDER_FILE" "$BIN_DIR"
echo "✅ Build complete and copied - fasder."

# kanata
KANATA_DIR="$TMP/kanata/target/release/"
KANATA_FILE="kanata"
echo "🔨 Building Go project in $KANATA_DIR..."
cd "$KANATA_DIR"
cargo build --release --features cmd
# cargo install --features cmd --path .
cp "$KANATA_FILE" "$BIN_DIR"
echo "✅ Build complete and copied - kanata."

# https://github.com/jtroo/kanata/wiki/Avoid-using-sudo-on-Linux
sudo groupadd uinput
sudo usermod -aG input "$USER"
sudo usermod -aG uinput "$USER"
echo "✅ Added uinput group - kanata."
KANATA_RULES='/etc/udev/rules.d/99-input.rules'
sudo touch $KANATA_RULES
sudo echo 'KERNEL=="uinput", MODE="0660", GROUP="uinput", OPTIONS+="static_node=uinput"' | sudo tee $KANATA_RULES
sudo modprobe uinput
sudo systemctl --user enable kanata.service
sudo systemctl --user start kanata.service

# vi: ft=bash

