#!/bin/bash
set -e

sudo zypper install -y hyprland  hyprland-devel hyprland-qtutils hyprpolkitagent  xwayland qt6-wayland xdg-desktop-portal-hyprland xdg-desktop-portal-gtk foot
sudo zypper install -y mako ydotool 

sudo zypper install -y --no-recommends greetd tuigreet grim slurp swayimg wl-clipboard waybar
# sudo zypper install -y --no-recommends hyprpaper

# maybe
# sudo zypper install -y nwg-look
# hyprlock
# hyprsunset no package
# qt5-wayland 

{{ if eq .chezmoi.hostname "pc" }}
{{ else if eq .chezmoi.hostname "laptop" }}
{{ end }}

# vi: ft=bash

