#!/bin/bash
set -e

sudo zypper install -y hyprland  hyprland-devel hyprland-qtutils hyprpolkitagent  xwayland qt6-wayland xdg-desktop-portal-hyprland xdg-desktop-portal-gtk wtype
sudo zypper install -y mako

sudo zypper install -y --no-recommends grim slurp swayimg wl-clipboard cliphist waybar
# sudo zypper install -y --no-recommends hyprpaper

# hyprlock
# hyprsunset no package
# qt5-wayland 

{{ if eq .chezmoi.hostname "pc" }}
{{ else if eq .chezmoi.hostname "laptop" }}
{{ end }}

# vi: ft=bash

