#!/bin/bash
set -e

BIN_DIR="{{ .chezmoi.sourceDir }}/dot_bin"
TMP="$HOME/tmp-chezmoi"
mkdir -p "$BIN_DIR"

# fasder
FASDER_DIR="$TMP/fasder"
FASDER_FILE="fasder"

echo "🔨 Building Go project in $FASDER_DIR..."
cd "$FASDER_DIR"
go build
cp -v --update=none "$FASDER_FILE" "$BIN_DIR/executable_fasder"
echo "✅ Build complete and copied - fasder."

# # kanata
# KANATA_DIR="$TMP/kanata/"
# KANATA_FILE="$TMP/kanata/target/release/kanata"
# echo "🔨 Building Go project in $KANATA_DIR..."
# cd "$KANATA_DIR"
# cargo build --release --features cmd
# # cargo install --features cmd --path .
# cp -v --update=none "$KANATA_FILE" "$BIN_DIR/executable_kanata"
# echo "✅ Build complete and copied - kanata."

sudo bash < <(curl -s https://raw.githubusercontent.com/babashka/babashka/master/install)

# vi: ft=bash

