# chezmoi apply --include externals
# important for archive-file
# if after unzip a file is in a folder `./filename` should be added 
# linux versions - musl - ok jak jest tylko to 
# https://www.chezmoi.io/reference/templates/github-functions/gitHubLatestReleaseAssetURL/

# BUILD
# without refreshPeriod you should run, this otherwise it won't fetch the repo
# chezmoi apply --refresh-externals 
[".cache/chezmoi/tmp/fasder"]
	type = "git-repo" 
	url = "https://github.com/wyne/fasder.git"

[".cache/chezmoi/tmp/clipcat.rpm"]
	type = "file" 
    url = {{ gitHubLatestReleaseAssetURL "xrelkd/clipcat" "clipcat-*.x86_64.rpm" | quote }}

[".config/zgenom"]
	type = "git-repo" 
	url = "https://github.com/jandamm/zgenom.git"

# FILES
[".local/bin/bb"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "babashka/babashka" "babashka-*-linux-amd64-static.tar.gz" | quote }}
    path = "bb"
    executable = true
    refreshPeriod = "168h"

# v0.27 has opi version
[".local/bin/taskwarrior-tui"] 
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "kdheepak/taskwarrior-tui" "taskwarrior-tui-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    path = "taskwarrior-tui"
    executable = true
    refreshPeriod = "168h"

# v0.22 has opi version
[".local/bin/satty"] 
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "Satty-org/Satty" "satty-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    path = "./satty"
    executable = true
    refreshPeriod = "168h"

# v1.6.4
[".local/bin/gomi"] 
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "babarot/gomi" "gomi_Linux_x86_64.tar.gz" | quote }}
    path = "gomi"
    executable = true
    refreshPeriod = "168h"

# v1.18.2
[".local/bin/localsend"]
    type = "file"
	url = {{ gitHubReleaseAssetURL "localsend/localsend" "v1.18.2" "LocalSend-*-linux-x86-64.AppImage" | quote }}
    executable = true
    refreshPeriod = "168h"
[".local/bin/localsend-cli"]
    type = "archive-file"
	url = {{ gitHubReleaseAssetURL "localsend/localsend" "v1.18.2" "LocalSend-CLI-*-linux-x86-64.tar.gz" | quote }}
    path = "localsend-cli"
    executable = true
    refreshPeriod = "168h"

# # v2.45 has opi version
# [".local/bin/dua"] 
#     type = "archive-file"
#     url = {{ gitHubReleaseAssetURL "Byron/dua-cli" "v2.45.0"  "dua-v*-x86_64-unknown-linux-musl" | quote }}
#     path = "./dua"
#     executable = true
#     refreshPeriod = "168h"

# 4.0.4
[".local/bin/pueue"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "Nukesor/pueue" "pueue-x86_64-unknown-linux-musl" | quote }}
    executable = true
    refreshPeriod = "168h"
[".local/bin/pueued"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "Nukesor/pueue" "pueued-x86_64-unknown-linux-musl" | quote }}
    executable = true
    refreshPeriod = "168h"

# # there is a package for cli, error with tar
# [".local/bin/tree-sitter"]
#     type = "archive-file"
#     url = {{ gitHubLatestReleaseAssetURL "tree-sitter/tree-sitter" "tree-sitter-linux-x64.gz" | quote }}
# 	path = "tree-sitter-linux-x64"
#     executable = true
#     refreshPeriod = "168h"

# 2.0.2
[".local/bin/ghgrab"]
	type = "file" 
    url = {{ gitHubLatestReleaseAssetURL "abhixdd/ghgrab" "ghgrab-linux" | quote }}
    executable = true
    refreshPeriod = "168h"

# v1.2.0
[".local/bin/kanata"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "jtroo/kanata" "linux-binaries-x64.zip" | quote }}
    path = "kanata_linux_cmd_allowed_x64"
    executable = true
    refreshPeriod = "168h"

# 2.24.0
[".local/bin/navi"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "denisidoro/navi" "navi-*-x86_64-unknown-linux-musl.tar.gz" | quote }}
    path = "./navi"
    executable = true
    refreshPeriod = "168h"

# 19.0.0
[".local/bin/soulseek-rs"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "michel/soulseek-rs" "soulseek-rs-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
    executable = true
    path = "soulseek-rs"
    refreshPeriod = "168h"

[".local/bin/opencode"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "anomalyco/opencode" "opencode-linux-x64.tar.gz" | quote }}
    executable = true
    path = "opencode"
    refreshPeriod = "168h"

# CURSORS
[".local/share/icons/Bibata-cursor"] 
	type = "archive" 
	stripComponents	= 1
	url = "https://github.com/ful1e5/Bibata_Cursor/releases/latest/download/Bibata-Modern-Ice.tar.xz"
[".local/share/icons/GoogleDot-cursor"] 
	type = "archive" 
	stripComponents	= 1
	url = "https://github.com/ful1e5/Google_Cursor/releases/latest/download/GoogleDot-Blue.tar.gz"

	# url = "https://github.com/ful1e5/Google_Cursor/releases/download/v2.0.0/GoogleDot-Black.tar.gz"
# from cargo
# ["tmp-chezmoi/taskwarrior-tui.rpm"] 
# 	type = "file" 
# 	url = "https://github.com/kdheepak/taskwarrior-tui/releases/download/v0.26.3/taskwarrior-tui-0.26.3-1.x86_64.rpm"

# ["tmp-chezmoi/rdrview"]
# 	type = "git-repo" 
# 	url = "https://github.com/eafer/rdrview.git"
# ["tmp-chezmoi/kanata"]
# 	type = "git-repo" 
# 	url = "https://github.com/jtroo/kanata.git"

# I'm don't know how to download subdir from github 
# [".local/share/icons/qogir"] 
	# type = "file" 
	# url = "https://github.com/vinceliuice/Qogir-icon-theme/tree/master/src/cursors/dist-Manjaro-Dark"

# files
# vi:ft=toml
