# https://wiki.hyprland.org/Configuring/Monitors/
# hyprctl monitors all

scrolling {
	column_width = 1
	follow_min_visible = 1
}

{{ if eq .chezmoi.hostname "pc" }}

bindd = , PRINT,Screenshot the active window, exec, screenshot.clj save --target window
bindd = $sup, PRINT, Screenshot ocr, exec, screenshot.clj ocr --target region
bindd = $sup CTRL, PRINT,Edit screenshot, exec, screenshot.clj edit --target output -o /tmp/
bindd = $sup SHIFT, PRINT,Screenshot a region, exec, screenshot.clj menu

monitor=desc:Hewlett Packard HP ZR24w CNT0341213,1920x1200@59.95,0x0,1.0
monitor=desc:Hewlett Packard HP LA2206 3CQ149PK69,1920x1080@60.0,1920x0,1.0,transform,1

#description: Hewlett Packard HP ZR24w CNT0341213
# monitor=DVI-D-1, 1920x1200,auto-left,1
# description: Hewlett Packard HP LA2206 3CQ149PK69
# monitor=DVI-I-1,1920x1080,auto-right,1, transform, 1

# fix offset 
cursor { 
	no_hardware_cursors = 1
}

workspace=1,monitor:DVI-D-1,default:true
workspace=2,monitor:DVI-D-1
workspace=3,monitor:DVI-D-1
workspace=4,monitor:DVI-D-1
workspace=5,monitor:DVI-D-1
workspace=6,monitor:DVI-D-1
workspace=7,monitor:DVI-I-1,default:true
workspace=8,monitor:DVI-I-1
workspace=9,monitor:DVI-I-1
workspace=10,monitor:DVI-I-1, layout:scrolling

{{ else if eq .chezmoi.hostname "laptop" }}
# monitor=,preferred,auto,auto
workspace=1, layout:scrolling

bindd = , Scroll_Lock,Screenshot the active window, exec, screenshot.clj save --target window
bindd = $sup, Scroll_Lock, Screenshot ocr, exec, screenshot.clj ocr --target region
bindd = $sup CTRL, Scroll_Lock,Edit screenshot, exec, screenshot.clj edit --target output -o /tmp/
bindd = $sup SHIFT, Scroll_Lock,Screenshot a region, exec, screenshot.clj menu
{{ end }}


# vi: filetype=hyprlang
# vi: foldmethod=marker
