{{ if eq .chezmoi.hostname "laptop" }}
/home/miro/Documents/Ustawienia/private/mpv/playlists/local-lap
{{ else if eq .chezmoi.hostname "pc" }}
/home/miro/Documents/Ustawienia/private/mpv/playlists/local-pc
{{ else }}
{{ end }}

