username = "{{- .soulseek.username }}"
password_cmd = "{{- .soulseek.password }}"
max_concurrent_downloads = 20
shared_dir =  "~/tmp/soulseek-share"

# download_dir = "~/Downloads/Soulseek"

# vi:ft=toml
